In [2]:
from cleantext import clean

In [3]:
import pandas as pd
df = pd.read_csv('stock_data')

In [4]:
df

,URL,Data
0,https://www.moneycontrol.com/news/business/mar...,The Indian equity benchmark opened firm on Mar...
1,https://www.moneycontrol.com/news/business/mar...,Equity benchmarks the Sensex and Nifty soared ...
2,https://www.moneycontrol.com/news/business/mar...,"After hitting fresh record highs, frontline in..."
3,https://www.moneycontrol.com/news/business/sto...,State-owned Life Insurance Corporation of Indi...
4,https://www.moneycontrol.com/news/business/mar...,Benchmark indices the Sensex and the Nifty sna...
...,...,...
573,https://www.moneycontrol.com/news/business/sto...,Shares ofLemon Tree Hotelsgained in the early ...
574,https://www.moneycontrol.com/news/business/mar...,Shares of AstraZeneca Pharma India jumped over...
575,https://www.moneycontrol.com/news/business/sto...,Geojit's report on Daily Agri Picks The area u...
576,https://www.moneycontrol.com/news/business/sto...,Geojit's report on Daily Agri Picks The govern...
577,https://www.moneycontrol.com/news/business/sto...,Shares ofCoforge Limitedadvanced over 4 percen...

In [7]:
def clean_text(text):
    parts = text.split(":", 1)
    if len(parts) > 1:
        cleaned_text = parts[1].strip()  # Remove leading/trailing whitespace
        cleaned_text = cleaned_text.replace("\n", "")  # Remove newline characters
        cleaned_text = cleaned_text.replace("*","")
        
    return remove_unwants(cleaned_text)
    else:
        return ""  # Return empty string if no colon foun

In [8]:
df2 = df

In [9]:
len(df2['Data'])

578

In [10]:
df2

,URL,Data
0,https://www.moneycontrol.com/news/business/mar...,The Indian equity benchmark opened firm on Mar...
1,https://www.moneycontrol.com/news/business/mar...,Equity benchmarks the Sensex and Nifty soared ...
2,https://www.moneycontrol.com/news/business/mar...,"After hitting fresh record highs, frontline in..."
3,https://www.moneycontrol.com/news/business/sto...,State-owned Life Insurance Corporation of Indi...
4,https://www.moneycontrol.com/news/business/mar...,Benchmark indices the Sensex and the Nifty sna...
...,...,...
573,https://www.moneycontrol.com/news/business/sto...,Shares ofLemon Tree Hotelsgained in the early ...
574,https://www.moneycontrol.com/news/business/mar...,Shares of AstraZeneca Pharma India jumped over...
575,https://www.moneycontrol.com/news/business/sto...,Geojit's report on Daily Agri Picks The area u...
576,https://www.moneycontrol.com/news/business/sto...,Geojit's report on Daily Agri Picks The govern...
577,https://www.moneycontrol.com/news/business/sto...,Shares ofCoforge Limitedadvanced over 4 percen...

In [11]:
df2 = df2.drop(df2.index[130:140])

In [12]:
df2 = df2.drop(df2.index[150:157])

In [13]:
df2 = df2.drop(df2.index[190:200])

In [15]:
df2 = df2.drop(df2.index[206:209])

In [16]:
df2 = df2.drop(df2.index[219:221])

In [17]:
df2 = df2.drop(df2.index[275])

In [18]:
df2 = df2.drop(df2.index[279])

In [19]:
df2 = df2.drop(df2.index[404])

In [35]:
df2 = df2.drop(df2.index[185])

In [38]:
df2 = df2.drop(df2.index[224:225])

In [55]:
df2 = df2.drop(df2.index[268:270])

In [74]:
df2 = df2.drop(df2.index[393])

In [75]:
from openai import OpenAI

client = OpenAI(base_url="http://localhost:1234/v1", api_key="lm-studio")

In [78]:
count = 392

In [80]:
len(df2[484:])

47

In [81]:
for x in df2['Data'][485:]:
    count += 1
    print(count)
    completion = client.chat.completions.create(
      model="lmstudio-ai/gemma-2b-it-GGUF/gemma-2b-it-q4_k_m.gguf",
      messages=[
        {"role": "system", "content": "You are a helpful stock market specialist bot. Summarize the data given with your expertise in stock market. Give me cotinuous texts do not use bold letters"},
        {"role": "user", "content": x }
      ],
      temperature=0.7,
    )
    stock_impact['Data'].append(x)
    ge.append(clean_text(completion.choices[0].message.content))

485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530

In [83]:
len(stock_impact['Data'])

523

In [84]:
stock_impact['Impact'] = ge

In [88]:
data = pd.DataFrame(stock_impact)

In [89]:
data

,Data,Impact
0,The Indian equity benchmark opened firm on Mar...,The Indian equity benchmark opened firm on Ma...
1,Equity benchmarks the Sensex and Nifty soared ...,"The Sensex and Nifty closed higher today, dri..."
2,"After hitting fresh record highs, frontline in...","Sensex: Down 0.12% at 73,791.52 1,963 shares a..."
3,State-owned Life Insurance Corporation of Indi...,State-owned Life Insurance Corporation of Ind...
4,Benchmark indices the Sensex and the Nifty sna...,"Sensex closed lower at 72,470 with a loss of ..."
...,...,...
518,Shares ofLemon Tree Hotelsgained in the early ...,Lemon Tree Hotels gained Rs 1.85 in the early...
519,Shares of AstraZeneca Pharma India jumped over...,AstraZeneca received permission to import and...
520,Geojit's report on Daily Agri Picks The area u...,Geojit's report shows that the area under rab...
521,Geojit's report on Daily Agri Picks The govern...,The government has procured 70.7 million tn o...
522,Shares ofCoforge Limitedadvanced over 4 percen...,Coforge Limited's shares have increased by ov...

In [90]:
data.to_csv('article_data',index=False)